@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:ital,wght@0,400;0,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap");
:root {
  --yellow: #ffb633;
  --black: #2c2c2c;
  --grey: #313131;
  --title: #eab033;
  --text: #5a6067;
  --fRoboto: "Roboto", sans-serif;
  --fUbuntu: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}
.max-width {
  max-width: 1600px;
  width: 100%;
  padding: 0 80px;
  margin: auto;
}
/* * */
/* Navigation Bar */
/* * */
.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.navbar.sticky {
  padding: 15px 0;
  background: var(--yellow);
  box-shadow: 0 14px 8px -8px rgb(0 0 0 / 25%);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.navbar .logo a span {
  color: var(--title);
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  display: inline-block;
  list-style: none;
}
.navbar .menu li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s ease;
}

.navbar .menu li a:hover {
  color: var(--title);
}

.navbar.sticky .menu li a:hover {
  color: var(--text);
}

/* Menu button */

.menu-btn {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
section {
  padding: 40px 0;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
}
/* HOME SECTION */
.home {
  display: flex;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1097%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1098)'%3e%3c/rect%3e%3cpath d='M174.03961798095816 38.972181160854944L36.2298420033666-8.479530089492563-11.221869246980901 129.330245888099 126.58790673061065 176.7819571384465z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M234.1037559317193 216.10192887907394L200.37253375313276 167.9287511597502 144.9783782634404 242.6121732872919z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M427.13707545325093 184.857653998632L440.7409204289803 295.65208023343325 551.5353466637815 282.0482352577038 537.9315016880522 171.2538090229026z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M16.845%2c139.952C51.224%2c141.778%2c79.821%2c115.82%2c96.478%2c85.691C112.552%2c56.617%2c115.494%2c21.113%2c98.246%2c-7.281C81.574%2c-34.727%2c48.883%2c-47.594%2c16.845%2c-45.405C-11.734%2c-43.452%2c-33.778%2c-22.574%2c-47.327%2c2.665C-60.052%2c26.37%2c-60.763%2c53.571%2c-49.37%2c77.945C-35.646%2c107.306%2c-15.519%2c138.233%2c16.845%2c139.952' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1345.1738025773973 585.4216679219087L1357.1794525234948 449.6864779541414 1248.3605408728954 498.1357789250436z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M667.07 462.82 a117.58 117.58 0 1 0 235.16 0 a117.58 117.58 0 1 0 -235.16 0z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M830.208%2c743.432C875.335%2c742.502%2c907.179%2c704.537%2c929.494%2c665.302C951.485%2c626.636%2c966.579%2c580.602%2c944.914%2c541.753C922.817%2c502.129%2c875.474%2c484.209%2c830.208%2c487.266C789.728%2c490%2c760.011%2c520.602%2c739.524%2c555.622C718.771%2c591.096%2c705.702%2c632.535%2c723.572%2c669.545C743.725%2c711.283%2c783.869%2c744.387%2c830.208%2c743.432' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M589.900665751052 302.185454862338L618.8676519077142 213.03423844639536 500.7494493351093 273.21846870567583z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M991.386%2c529.674C1042.537%2c530.269%2c1094.828%2c508.377%2c1117.968%2c462.756C1139.567%2c420.173%2c1118.009%2c371.611%2c1091.803%2c331.698C1068.689%2c296.495%2c1033.396%2c272.911%2c991.386%2c269.966C942.89%2c266.567%2c889.431%2c274.733%2c863.218%2c315.676C835.412%2c359.106%2c843.305%2c415.63%2c869.802%2c459.871C895.538%2c502.842%2c941.301%2c529.092%2c991.386%2c529.674' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M339.98279478924917 477.76495556044875L315.0608689076547 396.2490090329679 233.54492238017383 421.1709349145624 258.4668482617683 502.6868814420432z' fill='rgba(239%2c 191%2c 46%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1097'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='139.29%25' x2='84.72%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1098'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(122%2c 131%2c 142%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  /* margin-left: 0 40px; */
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: var(--title);
}
.mail-btn {
  display: inline-block;
  color: var(--title);
  background: var(--black);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  /* border-radius: 0.5em; */
  background: rgb(27 36 47);
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.mail-btn:hover {
  color: #fff;
  background: none;
  border: 2px solid var(--yellow);
}

/* About section */

.section .title {
  position: relative;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-weight: 500;
}

.section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.section .title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--title);
  padding: 5px;

  transform: translateX(-50%);
}

.about .title::after {
  content: "who i am";
  background: #fff;
}

.skills .title::after {
  content: "";
}

.section .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background: #d8d8d8; */

  padding: 20px;
}

.inset-bs {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* .section .about-content::before,
.section .about-content::after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
} */

.inset-bs::after {
  right: 10px;
  left: auto;
  transform: skew(8deg) rotate(3deg);
}

.section .about-content .left {
  display: flex;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.section .about-content .left img {
  width: 100%;
  /* min-width: 300px; */
  height: auto;
  object-fit: cover;
}

.section .about-content .right {
  flex: 1.5;
  margin: 20px;
  font-family: "Inconsolata", monospace;
}

.section .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Inconsolata", monospace;
}

.section .about-content .right p {
  text-align: justify;
  line-height: 30px;
  font-family: "Inconsolata", monospace;
}

.section .about-content .right a {
  display: inline-block;
  color: #fff;
  background: var(--black);
  font-size: 25px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;

  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.section .about-content .right a:hover {
  background: #fff;
  color: var(--title);
  border: 2px solid var(--yellow);
}

.section .about-content .right .text span {
  color: #fff;
}

.section .about-content .right p {
  font-family: var(--fUbuntu);
  /* font-weight: 100; */
  /* font-style: italic; */
}

.section .about-content .right ul {
  list-style: none;
  font-family: var(--fUbuntu);
  line-height: 30px;
  /* font-weight: 600; */
  /* font-size: 20px; */
  /* letter-spacing: 1px; */
  /* color: #efbf2e; */
}

.section .about-content .right ul li {
  /* font-size: 16px; */
  color: #252934;
}

.section .about-content .right ul li::before {
  content: "\f0da    ";
  font-family: FontAwesome;
  padding: 0 5px;
  color: #ffb633;
}

/* skills */

.skill-content .title::after {
  content: "";
}

.stitle {
  position: relative;
  text-align: center;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: var(--fRoboto); */
  margin: 20px 0;
  /* color: #ffffff; */
}

.skill-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* background: #252934; */
  margin: 40px 0;
  font-family: "Inconsolata";
  padding: 20px;
}

.skill-content__left {
  flex: 2;
  /* border: 1px solid white; */
  padding: 20px;
}

.skill-content__right {
  flex: 1;
  /* border: 1px solid white; */
  padding: 20px;
}

.skill-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-item {
  /* background: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.skill-item span {
  font-weight: bold;
  /* color: white; */
  margin-top: 1em;
}

.title2 {
  color: black;
  font-size: 24px;
  font-family: "Inconsolata";
}
.skill-icon-wrapper {
  background-image: linear-gradient(
    to right,
    rgb(245, 230, 147) 0%,
    rgb(224 203 151) 41%,
    rgb(0, 0, 0) 100%
  );
  width: 70px;
  height: 70px;
  margin: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  /* color: white; */
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 50%;
  display: block;
  position: relative;
  cursor: pointer;
}

.skill-icon-wrapper:hover {
  background-position: right center;

  text-decoration: none;
}

.skill-icon-wrapper > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
}

.skill-icon-wrapper > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  font-size: 3rem;
  color: black;
}

.skill-icon-wrapper > svg > path {
  fill: black;
}
.skill-icon-wrapper:hover > svg > path {
  fill: #fac730;
}

.skill-icon-wrapper:hover > i {
  color: #fac730;
}
.skill-icon-wrapper:hover > svg {
  color: #fac730;
}

/* Project Section */
.project {
  background-color: #efefef;
  position: relative;
}
.project .title::after {
  content: "";
  background: none;
}
.project-content__slider {
  display: flex;
  justify-content: center;
}

/* .project .title::before {
  content: "";
}

.project .title::after {
  content: "some of my projects";
  background-color: #efefef;
} */
.slider-item {
  position: relative;
  background: #fff;
  max-width: 350px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.slider-item img {
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.slider-item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;

  color: white;
  background: rgba(106, 108, 110, 0.9);

  backdrop-filter: 8px;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* align-items: center; */

  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
.slider-item__content h3 {
  position: absolute;
  top: 10px;
  font-size: 30px;
  margin: 10px 0;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  transform: translateY(-2rem);
  transition: transform 0.5s;
  margin-bottom: 20px;
}

.slider-item__content:hover > h3 {
  transform: translateY(0);
}

.slider-item__content span {
}

.slider-item__content > span {
  transform: translateY(7rem);
  transition: transform 0.5s;
  font-size: 18px;
  font-family: "Inconsolata";
}

.slider-item__content:hover > span {
  transform: translateY(5rem);
}

.slider-item__content:hover {
  opacity: 1;
}

.slider-item__content:hover {
}

.slider-item__content h3 {
  text-align: center;
}

/* the slides */
.slick-slide {
  margin: 0 27px;
}
/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */
/* skill */

/*  */
.custom-shape-divider-top-1618049460 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1618049460 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.custom-shape-divider-top-1618049460 .shape-fill {
  fill: #efefef;
}

/* Contact section */
.contact {
  position: relative;
  background-color: #252934;
}

.contact-form .title {
  color: #fff;
  margin-bottom: 40px;
}

.contact-form .title::before {
  content: "";
  background: #fff;
  bottom: 0;
}

.contact-form .title::after {
  content: "";
  background-color: #252432;
}
.contact-form {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form span {
  color: var(--title);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-form form input,
textarea {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 500px;
  resize: none;
}
.contact-form .submit-btn {
  cursor: pointer;
  transition: 0.3s all ease-out;
}
.contact-form .submit-btn:hover {
  background-color: var(--yellow);
}

/* Footer */
.custom-shape-divider-top-1618039634 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1618039634 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 53px;
}

.custom-shape-divider-top-1618039634 .shape-fill {
  fill: #252934;
}
footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
}

.icon-list {
  display: flex;
  justify-content: center;
}
.icon-wrapper {
  width: 60px;
  height: 60px;
  margin: 0 40px;
  cursor: pointer;
  background: #262f38;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon-wrapper:hover {
  background: #fff;
}

.icon-wrapper:hover > i {
  color: black;
}

.icon-wrapper i {
  font-size: 30px;
  color: white;
}

.info {
  margin-top: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--text);
  letter-spacing: 3px;
}
.info span {
  color: var(--yellow);
}
/* Media query */
@media screen and (max-width: 1140px) {
  .home .max-width {
    margin-left: 0;
  }
}

@media screen and (max-width: 990px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 10;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--black);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  /* Home rwd */

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }

  /* .slider-item img {
    width: 100%;
    height: 250px;
  } */
}
@media screen and (max-width: 690px) {
  .max-width {
    padding: 0 20px;
  }
  .home .home-content a {
    font-size: 20px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }

  .section .about-content {
    padding: 10px 0;
    position: relative;
  }
}
@media screen and (max-width: 520px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 25px;
  }
  .icon-wrapper {
    margin: 0 20px;
  }
}
